doctype html
html(lang="en")
  head
    script(type='text/javascript' src='jquery-2.1.0.min.js')
    //script(type='text/javascript' src='underscore.js')
    //script(type='text/javascript' src='html2canvas.js')
    script(type='text/javascript' src='grid.js')
    //link(rel='stylesheet' href='ootstrap.min.css')
    link(rel='stylesheet' href='grid.css')
    title dumb tiles admin
  body
    ul#adminUserList
      each user, i in users
        li(name=user.user)
          input(type='text' class='adminUsername' value=user.user)
          button.adminDeleteUser delete
          button save
          button.adminShowGrids show grids
          ul.adminGridList
            each gridName, i in user.gridNames
              li.adminGrid(name=gridName)=gridName
              button.adminDeleteGrid delete