doctype html
html(lang="en")
  head
    script(type='text/javascript' src='jquery-1.10.2.min.js')
    //script(type='text/javascript' src='underscore.js')
    //script(type='text/javascript' src='html2canvas.js')
    script(type='text/javascript' src='grid.js')
    //link(rel='stylesheet' href='ootstrap.min.css')
    link(rel='stylesheet' href='grid.css')
    title dumb tiles
  body
    div.loginbox
      if(user!=undefined)
        p.message(name= user) Welcome, #{user}
        button#logout logout
      else
        input(type="text", name="user", placeholder='username')
        input(type="password", name="password", placeholder='password')
        button#login(value="login") login
        button(id='addUser') New User?
        label remember
          input#remember(type='checkbox' name='remember')
    div#controlbox
      div#buttons
        button#clear randomize
        button#fillCan fill
      //if (typeof createdUser == "undefined")

      div#probBox(style='clear:both')
        ul
          li.label(style='margin-right:15px') first
          li
            input#initial(type='text' value='.1')
          li.label second
          li
            input#second(type='text' value='.1')
          li.label(style='margin-right:8px') third
          li
            input#third(type='text' value='.1')
              
      div#colorBox(style="clear:both")
          ul
            li.label color1
            li
              input#color1.colorBox(type='text' value='red')
            li.label color2
            li
              input#color2.colorBox(type='text' value='blue')
            li.label color3
            li
              input#color3.colorBox(type='text' value='blue')
      div.clearfix
      div#leastBox
        ul
          li.label at Least:
          li
            input#least2(type='text' value='0')
          li.label at Least:
          li
            input#least3(type='text' value='0')
      div#miscBox
        ul
          li.label background:
          li    
            input#colorBack(type='text' value='white')
          li.label border:
          li
            input#colorBorder(type='text' value='black')
      div.clearfix
      div#sizeSave
        ul
          li.label size:
          li
            input#size(type='text' value='1000')
          li
            button#rebuild rebuild
          li.label save as:
          li
            input#savename(type='text')
          li
            button#save save

      div.clearfix
      button#update update
      h2#gridName
      div.clearfix
      div#boxwrapper
      ul#savedList
        if(user!=undefined)
            each grid, i in grids
              li.recall(name=grid.name)
                img.thumbnail(src="images/" + grid.user + '_' + grid.name + "_th.png")
                p=grid.name
                button.delete delete
                a(href="images/" + grid.user + '_' + grid.name + ".png" target="_blank" download='grid.png' ) download
      div.clearfix
      button#can save thumb
      div#thumb