
#test{
//  width:468px;
//  height:468px;
 aborder:solid 1px black;

}

#controlbox{width: 830px; float:left;}

#buttons{width:150px;float:left;}

.loginbox input{width:100px;}
#remember{width:20px}

.loginbox{width:530px; float:left;}

.message{float:left; margin:.3em;}

textarea{width:100px; height:100px;}

.hidden{display:none}

.square{
    float:left;
    width:10px;
    height:10px;
    border:solid 1px black;
}

#colorBox{
    clear:both;
}

ul{
    margin:5px;
    padding:0;
}

input {
    border: solid 1px gray;
}

#prob1, #prob2 , #prob3 , #color1, #color2, #color3, #least2, #least3, #colorBack, #colorBorder, #size {
    width:65px;
    margin: 0 5px;
}

#probBox ul li, #colorBox ul li, #miscBox ul li, #sizeSave ul li, #leastBox ul li{
    list-style:none;
    display:inline;

}

input{
    padding:4px;
    border-radius:2px;
}


#leastBox{position:relative; left:112px}

#gridName{margin:0 5px;}

#update{float:left; margin-right:20px;}

#boxwrapper{
    float:left;
}/* position:absolute; top:0; left:0; z-index:0;}*/

.loading{
    width:200px;
    height:200px;
    background-image:url('images/loading.gif');
    background-size:200px 200px;

}

#savedList{
    list-style:none;
    width:250px;
    /*height:230px;*/
    float:right;
    overflow:auto;
    position:absolute;
    top:5px;
    right:5px;

    background:aliceblue;
}


#savedList li{clear:both; }

.thumbnail,#savedList p{
    float:left;
    margin:5px
}

#savedList p{
    padding:14px
}

.delete{
    float:right;
    margin:17px;
}

#savedList img{width:50px;}


#test{clear:both}

.square{webkit-box-sizing: content-box; box-sizing:content-box}

.clearfix{clear:both}

lcanvas{border:solid 1px black}


.adminGridList{
    display:none;
}

.adminGridList img{width:25px}