body{
    font-family:helvetica
}

#topBox{
    float:left; 
    position:relative;
    margin:10px;
    width:400px;
}

#loginbox{height:23px;}

#loginbox input{width:100px;}

#logout{
    margin-right:15px;
    display:inline
}

.message{display:inline;}

#remember{
    position:absolute; 
    top:-17px;
    font-size:12px

}
#rememberCheck{
    position:relative;
    top:3px;
}
#controlbox{
}


#buttons{
    width: 252px;
    margin: 5px 0 0 -2px;
}


#leastBox{}

#colorBox{
    position:relative;
    clear:both;
}

#colorBox .label{margin-right:13px}

#leastBox .label{margin-right:100px}

.message{
    padding-top:4px;
    font-family:helvetica
}

.hidden{display:none}

ul{
    margin:5px;
    padding:0;
}

input {
    border: solid 1px gray;
}

#prob1, #prob2 , #prob3 , #color1, #color2, #color3, #least2, #least3, #colorBack, #colorBorder, #size {
    width:65px;
    margin: 0 5px;
}

#probBox ul li, #colorBox ul li, #miscBox ul li, #sizeSave ul li, #leastBox ul li{
    list-style:none;
    display:inline;

}

input{
    padding:4px;
    border-radius:2px;
}


#description{
    font-size:12px;
    font-family:helvetica
}


#gridName{margin:0 5px;}

#update{float:left; margin-right:20px;}

#savename{width:86px}

#boxwrapper{
float:left;
width:80%;
}

.loading{
    width:200px;
    height:200px;
    background-image:url('images/loading.gif');
    background-size:200px 200px;

}

#savedList{
    list-style:none;
    width:250px;
    overflow:auto;
    background:aliceblue;
    float:right;
}


#savedList li{clear:both; }

.thumbnail , #savedList p{
    float:left;
    margin:5px
}

#savedList p{
    padding:14px
}

.delete{
    float:right;
    margin:17px;
}

#savedList img{width:50px;}

.clearfix{clear:both}

.adminGridList{
    display:none;
}

.adminGridList img{width:25px}